<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Wiki Guessr{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    {# CSS compilé par Webpack #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% block page_stylesheets %}{% endblock %}
    {% endblock %}

    {# JavaScript compilé par Webpack #}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% block page_scripts %}{% endblock %}
    {% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
    {% include 'footer.html.twig' %}
</body>
</html>
